<footer class="links">
    <h2>
      Ссылки на мои соцсети
    </h2>
    <section>
      <span><img src="img/vk.png" class="linksimg"><a href="https://vk.com/chesmon_fox">chesmon_fox</a></span>
      <span><img src="img/inst.png" class="linksinst" width="1.2vw"><a href="https://www.instagram.com/self.esteem_guy/">self.esteem_guy</a></span>
      <span><img src="img/Youtube.png" class="linksimg"><a href="https://www.youtube.com/channel/UCtH5cKjV6ttDvf_FE8RRePg">Felix Ardi</a></span>
    </section>
    <div class="loadtime">{{serverLoadTime}}
        ms.(server)
    </div>
  </footer>