<section class="title">
    <img src="img/jj.jpg">
    <h1>Felix Ardi Blog</h1>
    <section>
        {{> (lookup . 'form') }}
      </section>
    </section>
    <nav class="menu"><a href="../index">Главная страница</a> 
      <a href="../news">Новости</a> 
      <a href= "../gallery">Фотогалерея</a>
      <a href= "../stories">Рассказы и книги</a>
      <a href= "../todo">Wishlist</a>
    </nav>