<script src="./js/login.js"></script>
<div>
    <p>
        <label for="name" class="uname" data-icon="u"> Your username </label>
        <input id="name" name="name" required="required" type="text" data-type="name"
            placeholder="myusername" />
    </p>
    <p>
        <label for="password" class="youpasswd" data-icon="p"> Your password </label>
        <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
    </p>
    <p class="login button">
        <button onclick="login()">Логин</button>
    </p>
    <p class="error"></p>
</div>