<!DOCTYPE html>
<HTML lang="ru">

<Head>
  {{>head}}
  <link href="css/gallery.css" rel="stylesheet">
  <link rel="stylesheet" href="hystmodal.min.css">
  <script src="hystmodal.min.js"></script>    
  
</Head>

<Body>
  <header>
        {{>header}}
    </header>
  <main>
      <h2>Галерея</h2>
      <section class="grid-container">
        <img src="img/такие.jpg" class="post-1">
        <img src="img/такие.jpg" class="post-2">
        <img src="img/такие.jpg" class="post-3">
        <img src="img/такие.jpg" class="post-4">
        <img src="img/такие.jpg" class="post-5">
        <img src="img/такие.jpg" class="post-6">
        <img src="img/такие.jpg" class="post-7">
        <img src="img/такие.jpg" class="post-8">
        <img src="img/такие.jpg" class="post-9">
        <img src="img/такие.jpg" class="post-10">
      </section>
      <a href= cube>Куб</a>  
  </main>
  {{>footer}}
  {{>menu_script}}
</Body>

</HTML>