<!DOCTYPE html>
<HTML lang="ru">

<Head>
  {{>head}}
</Head>

<Body>
  <header>
    {{>header}}
  </header>
  <main>
    <article>
      <h2> Информация о блоге </h2>
      <section class="about">
        <div>
          <p class="start">
            <strong>Всем привет!</strong> Меня зовут <b>Felix Ardi</b> и это мой блог. Вы спросите - <i>о чем же мой
              блог?</i>А обо всем!
            Моя мечта быть <em>максимально</em> разноплановым человеком, чтобы любой человек мог найти у меня пост или
            видео
            на любой вкус.
          </p>
          <p>Сейчас в моем блоге вы сможете найти:</p>
          <ul>
            <li>Летсплеи</li>
            <li>Создание программ</li>
            <li>Трэвел - блоги</li>
            <li>Различные кинопроекты</li>
            <li>И многое другое</li>
          </ul>
          <pre id="smile">
            ´´´´´´´´´´´´´´´´´´´´1øø777oo77oø$´´´´´´´ 
            ´´´´´´7¢¢o´´´´´´´´ø¶¢´´´´´´´´´´´´ø¶ø´´´´ 
            ´´´´´¶ø7oø¶¶´´´´o¶´´´´´¶¶¶´´´¶¶´´´´´7¶¢´´ 
            ´´´´´¶1´´´´¶´´´$ø´´´´´´¶¶$´´´¶¶´´´´´´¢¶´ 
            ´´´´´o¶´´´o¶´´o¶´´´´´´´¶¶o´´´¶¶´´´´´´´øø 
            ´´´´´´¶´´´¶´´´¶´´´´´´´´´´´´´´´´´´´´´´´´ø 
            ´´´´¶¶¶¶¶¶¶¶¶¶¶¶´´´¶¶´´´´´´´´´´´´´´´´´´ø 
            ´´´¶´´´´´´´´´´´´¶ø¶¶´´´´´´´´´´´´´¶¶´´´´ø 
            ´´ø¶´´´´´´´´´´´o¶´´¶¶´´´´´´´´´´´´¶´´´´´ø 
            ´¶¶´´´¶¶¶¶¶¶¶¶¶¶¶´´´´¶¶´´´´´´´¶¶¶´´´´´´ø 
            ´¶´´´´´´´´´´´´´´´¶´´´´´¶¶¶¶¶¶¶´´´´´´´´oø 
            ´¶¢´´´´´´´´´´´´´´¶´´´´´´´´´´´´´´´´´´´´¶´ 
            ´´¶´´´¶¶¶¶¶¶¶¶¶¶¢¶´´´´´´´´´´´´´´´´´´¶ø´´ 
            ´´o¶´´´´´´´´´´´¶´´ø¶¶7´´´´´´´´´´´øø¶´´´´ 
            ´´´o¶$¢ø¢¢¢øø¶ø´´´´´¶¶¶¶oooo¶¶¶¢$
          </pre>
        </div>
        <aside class="photos">
          <img src="img/такие.jpg">
          <img src="img/такие.jpg">
          <img src="img/такие.jpg">
        </aside>
      </section>
      <h2>Личная информация</h2>
      <section class="about">
        <div>
          <p> Мое настоящее имя Александр Чесноков и мне 20 лет. Кто я?
          </p>
          <ol type="A">
            <li>
              Программист - студент Университета ИТМО. Пример моего успешного кода:
              <pre class="code"><code>
import numpy as np
def linan():
  entered_list1 = input("Введите три числа, разделенные пробелом: ").split()
  entered_list2 = input("Введите три числа, разделенные пробелом: ").split()
  AB = np.array([np.array([entered_list1[0], entered_list1[1]]), np.array([entered_list2[0], entered_list2[1]])]).astype(np.float32)
  C = np.array([entered_list1[2], entered_list2[2]]).astype(np.float32)
  return np.linalg.solve(AB, C)

ans = linan()
print(ans[0], ans[1])
                </code></pre>
            </li>
            <li>Актер <a href=https://vk.com/minitheater>Театра Миниатюр</a></li>
            <li>Писатель историй и рассказов</li>
            <li>Сценарист и режиссер своих проектов</li>
            <li>Самый гиканутый гик из всех существующих</li>
            <li>Просто веселый жизнерадостный парень</li>
          </ol>
          <p>Как часто спрашивает <cite>Юрий Дудь</cite> - <q>Какова моя формула успеха?</q></p>
          <p>Я отвечу: <a class="formul">(Фантазия<sup>2</sup> + Жизнерадостность - Лень) * Желание</a></p>
        </div>
        <aside class="photos">
          <img src="img/такие.jpg">
          <img src="img/такие.jpg">
          <img src="img/такие.jpg">
          <img src="img/такие.jpg">
        </aside>
      </section>
    </article>
  </main>
  {{>footer}}
  {{>menu_script}}
</Body>

</HTML>