<!DOCTYPE html>
<HTML lang="ru">

<Head>
  {{>head}}
  <link href="css/news.css" rel="stylesheet">
</Head>

<Body>
  <header>
        {{>header}}
    </header>
  <main id="main">
      <h2>Новости</h2>
      <div id="preloader"></div>
  </main>
  <script src="js/news.js"></script>
  {{>footer}}
  {{>menu_script}}
</body>

</HTML>